/* --- Google Fonts --- */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700");

/* --- Components design --- */
@import url("components/button.css");
@import url("components/cards.css");
@import url("components/banner.css");
@import url("components/footer.css");
@import url("components/navbar.css");
@import url("components/features.css");
@import url("components/avatar.css");
@import url("components/columns.css");
@import url("components/container.css");
@import url("components/featurette.css");
@import url("components/corner-ribbon.css");
@import url("components/carousel.css");

/* --- Fonts --- */
body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  padding-bottom: 200px;
}
h1, h2, h3 {
  font-family: "Montserrat", "sans-serif";
}

h1 {
	font-size: 25px;
  	margin-top: 30px;
  	margin-bottom: 30px;
}

html, body {
    height: 100%;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}