.btn-action {
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  font-size: 20px;
}

.btn-action:hover {
  opacity: 1;
  background: #54AA6F;
  text-decoration: none;
  color: white;
}

.btn-action:hover after {
  color: white;
}