.carousel-inner {
	margin-top: 50px;
	margin-bottom: 20px;
	height:470px;
}

.carousel {
  background-size: cover;
}

.carousel-indicators li {
    background: #1a2b40;
    border:none;
}

.carousel-indicators .active {
    background: #1a2b40;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
    color:#1a2b40;
}