#footer {
  margin-top: 20px;
  background-color: grey;
  height: 80px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#footer p {
  font-size: 15px;
  font-weight: lighter;
  margin-bottom: 10px;
}



