.video-container {

    position: fixed;
    display: block;
    right: 0px;
    bottom: 0px;
    top: 0px;
    min-width: 100%;
    min-height: 100%;
    width: initial;
    height: 100vh;
    z-index: -10;
    margin: 0px auto;
    padding: 0px;   

}

.overlay {
    display: block;
    height: 100vh;
    color: white;
    text-align: center;
}

.overlay h1 {
    font-size: 50px;
    font-weight: bolder;
}

.overlay p {
    font-size: 30px;
    font-weight: lighter;
}