.navbar-main {
  background-color: #1a2b40;
  font-size: 15px;
  border: none;
}

.navbar-main .navbar-brand,
.navbar-main .navbar-nav > li > a {
  color: white;
  line-height: 40px;
}

.navbar-main .navbar-nav > li > a:hover,
.navbar-main .navbar-nav > li > a:active,
.navbar-main .navbar-nav > li > a:focus,
.navbar-main .navbar-nav > .open > a,
.navbar-main .navbar-nav > .open > a:hover,
.navbar-main .navbar-nav > .open > a:focus {
  color: #4675ac;
}

.navbar-main .navbar-brand:hover,
.navbar-main .navbar-brand:active,
.navbar-main .navbar-brand:focus {
  color: white;
}

.navbar-main p {
	margin-top: 25px;
	font-weight: bold;
	color:white !important;
}

